doctype html
html
    head
        title View Page - #{id}
    body
        h1 View Page
        p This is a view page for ID: #{id}

        // 方法1: 使用插值语法 #{variable}
        p ID: #{id}

        // 方法2: 在属性中使用
        div(data-id=id) Content with ID

        // 方法3: 在JavaScript中使用
        script.
            const pageId = '#{id}';
            console.log('Page ID:', pageId);

        // 方法4: 条件渲染

        if id
            p This page has ID: #{id}
        else
            p No ID provided

        // 方法5: 在链接中使用
        a(href=`/view/${id}`) View this item